*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

#main-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 60px;
}
#input-row {
    margin: 5%;
}
.button, #interval-input {
    height: 80px;
    border-radius: 8px;
    border: darkgray solid 4px;
    font-size: 36px;
}
.button {
    width: 80px;
    background-color: darkgray;
    border-width: 1px;
    color: white;
}
.button:hover {
    background-color: white;
    color: darkgray;
    border-color: lightgray;
}
#interval-input {
    width: 100px;
    text-align: center;
    margin: 20px
}